name: Build
'on':
  - push
  - pull_request
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Set up Java
      uses: actions/setup-java@v4
      with:
        cache: gradle
        distribution: zulu
        java-version: 21
    - name: Build with Gradle
      run: gradle build
    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: artifacts
        path: build/libs